# Xcode
DerivedData/
build/
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# User settings
xcuserdata/
*.moved-aside
*.swp
*.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Bundle
*.ipa
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.orig
